<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" parallel="methods" thread-count="5">
<listeners>
<listener class-name="utils.TestListener"/>
<!-- <listener class-name="utils.AnnotationTransformer"/> -->
</listeners>

  
  <test name = "Budget car rental">
  	<classes>
  		<class name="tests.SelectCar.TEST_user_books_car_from_immediate_monday_for_7_days"/>
  	</classes>
  </test>
 
  
</suite>
